.return {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #fbfbfb;
  border-right: solid 1px #eaeaea;
  transition: .3s;

  &__link {
    display: block;
    height: 100%;

    &::before {
      content: url('/static/img/arrow-left.svg');
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      height: 28px;
      width: 28px;
    }
  }

  &:hover {
    background-color: #eaeaea;
  }
}