.input {
  position: relative;
  display: block;
  z-index: 2;

  &.dynamic-label {

    .input__label {
      position: absolute;
      left: 0;
      top: 0;
      transition: .2s;
      color: #777;
      font-size: 9px;
      z-index: -1;
    }

    .input__field {
      width: 100%;
      border-bottom: solid 1px $c_purple;
      padding-bottom: 7px;
      margin-top: 14px;

      &[value=""]:not(input:focus) {
        & + .input__label {
          font-size: 13px;
          top: 14px;
        }
      }
    }
  }
}
