.button {
  background-color: $c_purple;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 280px;
  padding: 8px;
  transition: .3s;

  &:hover {
    background-color: darken($color: $c_purple, $amount: 10%);
  }
}