include ./components/contact

.chats
  ul.contacts.test
    include ./components/search

    each contact in contacts
      +contactItem(contact.name, `/static/img/${contact.img}`, contact.message, contact.unread, contact.time, contact.you)
  
  include ./components/chat/chat