.menu {
  max-width: 60px;
  width: 100%;
  transition: 0.3s;
  overflow: hidden;
  background-color: $c_grey;
  position: relative;
  padding: 30px 5px;
  text-align: center;

  &__close,
  &__user,
  &__list {
    display: none;
  }

  &__img {
    border-radius: 50%;
  }

  &.opened {
    max-width: 300px;
    padding: 40px 50px;

    .menu__burger {
      display: none;
    }

    .menu__close,
    .menu__user,
    .menu__list {
      display: block;
    }
  }

  &__fullname {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  &__username {
    color: $c_dark_grey;
  }

  &__list {
    text-align: left;
    width: 200px;
    margin-top: 45px;
  }

  &__item {
    display: block;
    padding: 15px 25px;
    font-weight: 600;

    &__img {
      vertical-align: middle;
      margin-right: 23px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__burger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: 0.3s;

    &::before {
      content: url("/static/img/burger.svg");
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }

    &:hover {
      background-color: darken($color: $c_grey_t, $amount: 15%);
    }
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
  }
}
