include ./components/menu-item
include ../../components/icon-btn/icon-btn

aside.menu

  img(src="/static/img/user-placeholder.png", alt="user", class="menu__img")
  
  .menu__user 
    h3.menu__fullname=`${user.firstname} ${user.lastname}`
    p.menu__username #{user.username}

  nav.menu__list
    +menuItem('Profile', '/static/img/profile.svg', '/pages/profile/index.pug', 'menu__profile')
    +menuItem('Add contact', '/static/img/add-contact.svg', '#', 'menu__add-contact')
    +menuItem('Log out', '/static/img/log-out.svg', '/pages/login/index.pug', 'menu__log-out')

  .menu__burger
  +iconButton('cross.svg', 'button', 'menu__close')