img(src='#{img}', alt="user", class="menu__img")

.menu__user 
  h3.menu__fullname \#{firstname} \#{lastname}
  p.menu__username \#{username}

nav.menu__list(data-child='menuItems')

.menu__burger
div(data-child='close')