include ../../../../components/icon-btn/icon-btn

form(method="post").compose#formMessage
  
  +iconButton('attach.svg', 'button', 'compose__attach') 
  
  .compose__message 
    input(type="text", name="message", placeholder="Message")

  button(type="submit").compose__send

  div(hidden).compose__attach-options
    label.attach-media Media
      input(type="file", accept="image/*,video/*,audio/*", hidden)
    label.attach-document Document
      input(type="file", accept=".doc,.docx,.pdf", hidden)
    label.attach-location Location
      input(type="button", hidden)
  