.modal-bg,
.modal {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;

  &.opened {
    visibility: visible;
    opacity: 1;
  }
}

.modal-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000, $alpha: 0.4);
  z-index: 9;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  border-radius: 12px;
  width: 340px;
  padding: 40px 30px;
  max-height: 90%;
  overflow-y: auto;

  &__title {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }

  &__content {
    margin: 40px 0;
    text-align: center;

    p {
      max-width: 235px;
      margin: auto;
    }
  }
}
