include ../button/button

block vars
  - const modalTitle = 'Modal'
  - const classList = ''
  - const button = 'Submit';

div(class=`modal ${classList}`)
  .modal__container
    h2.modal__title #{modalTitle}
    .modal__content
      block content
    +button(button, 'submit', 'modal__btn')