extends ../../../components/modal/modal

block vars
  - var modalTitle = 'Upload file'
  - var classList = 'change-avatar'
  - var button = 'Change';

block content
  form(method="post")#formAvatar
    label.avatar-label.t-purple Upload from your device
      input(type="file", accept="image/png, image/jpeg", name="avatar", id="avatar" hidden)
    