.chats-wrap {
  display: flex;
}

.chats {
  display: flex;
  max-height: 100vh;
  min-height: 520px;
  width: 100%;
}

@import
'../../modules/menu/menu',
'../../modules/chats/components/compose/compose',
'../../modules/chats/components/chat/chat',
'../../modules/chats/components/chat-users/chat-users',
'../../modules/chats/contacts';
