extends ../../components/head/head

block scripts
  script(src='/modules/profile/profile.js', defer)

block vars
  - const title = "Profile";

block content
  main.profile

    .profile__avatar
      img(src="/static/img/user-placeholder.png" alt="user" class="profile__img")
      .profile__avatar-change
    
    h2.profile__name #{user.displayname}
      
    block inputs

  block return

  include ./components/change-avatar