.chat {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__placeholder {
    font-size: 12px;
    color: $c_dark_grey;
    text-align: center;
    margin: auto;
  }

  &__dialog {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__contact {
    background-color: $c_grey;
    border-bottom: solid 1px #ccc;
    display: flex;
    height: 71px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;

    &__info {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__name {
      margin: 0 10px;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }
    }

    &__add-user {
      margin-left: 7px;
    }
  }

  @import
  '../../../chats/components/compose/compose',
  '../../../chats/components/chat/message';

  .dialog {
    height: calc(100% - 126px);
    overflow-y: auto;
    font-size: 12px;
    @include hideScroll;

    &__container {
      padding: 0 20px 30px;
      display: flex;
      flex-direction: column-reverse;
    }

    &__date {
      margin: 30px 0;
      text-align: center;
      color: $c_dark_grey;
    }
  }
}
