.message {
  clear: both;
  overflow: auto;
  
  &-incoming {
    .message__wrap {
      float: left;

      &.message__text{
        background-color: #f8f8f8;
      }
    }

    .message__meta {
      float: left;
      margin-right: 10px;
    }

    .message__sender {
      text-align: left;
    }

    &.no-sender {
      margin-left: 50px;
    }
  }
  &-outcoming {
    .message__wrap {
      float: right;

      &.message__text{
        background-color: #e4edfd;
      }
    }

    .message__meta {
      float: right;
      margin-left: 10px;
    }

    .message__sender {
      text-align: right;
    }

    &.no-sender {
      margin-right: 50px;
    }
  }

  &__wrap {
    margin-bottom: 10px;
  }

  &__wrap.message__text {
    max-width: 80%;
    border-radius: 10px;
    white-space: pre-line;
    padding: 10px;

    .message__time {
      float: right;
      color: $c_dark_grey;
      margin-top: 5px;
      padding-left: 10px;
    }
  }

  &__img {
    position: relative;
    .message__time {
      color: #fff;
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: rgba(82, 82, 82, .5);
      padding: 2px 7px;
      border-radius: 10px;
    }

    img {
      display: block;
      border-radius: 10px;
      border: solid 1px #eaeaea;
    }
  }

  &__time {
    font-size: 9px;
  }

  &-read {
    &::before {
      padding: 0 4px;
      content: url('/static/img/read.svg');
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }

  &__sender {
    margin-bottom: 7px;
  }

  @include media(1024px) {
    .message__wrap {
      max-width: 50%;
    }
  }
}