include ../../../../components/icon-btn/icon-btn
include ../message/message

.chat
  p.chat__placeholder Select a chat to send a message

  .chat__dialog(hidden)
    .chat__contact
      .chat__contact__info
        img(src="/static/img/chat-placeholder.png", alt="").contact-img.chat__contact__img
        h3.chat__contact__name Вадим
      +iconButton('delete.svg', 'button', 'chat__contact__delete')
    
    .dialog
      .dialog__container
        p.dialog__date 19 июня
        each m in messages
          +message(m)

    include ../compose/compose
