.icon-button {
  background-color: transparent;
  transition: .2s;
  background-size: 75% auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border-radius: 7px;

  &:hover {
    background-color: darken($color: $c_grey, $amount: 5%);
  }
}