extends ./components/head/head

block scripts
  script(src='/pages/chats/chats.js', defer)

block content
  main.chats-wrap
    include ./modules/menu/menu
    include ./modules/chats/chats
  include ./modules/chats/components/add-contact
  include ./modules/chats/components/delete-chat