extends ../../../components/modal/modal

block vars
  - var modalTitle = 'Delete chat'
  - var classList = 'delete-chat'
  - var button = 'Delete';

block content
  p Are you sure you want to delete the chat and remove the contact?